.card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-bottom: 40px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: space-between;
  }
  
  .card-container::-webkit-scrollbar {
    display: none;
  }
  