html,body {
margin: 0;
font-family: cursive
}

.header {
    background-color: #c0392b;
    height: 6rem;

}
.logo {
  height: 6rem;
  width: auto;
}
.btn {
  float: right;
  margin: 0.2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}
.banner{
background-image: url("../images/banner.png");
background-size: cover;
background-position: top;
 width: 100%;
 height: 30rem;
 margin-bottom: 100rem;
 position: fixed;
}
.text {
font-size: 40px;
text-align: center;
margin-top: 1rem;
color: #473C33;
}
h1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 6rem;
  color: #282A3A;
}