.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  #search-input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    width: 50%;
    font-size: 16px;
  }
  
  .dropdown-toggle {
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .dropdown-item:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  #search-btn {
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    margin-left: -4px;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  